/*@media only screen and (max-width: 1024px) {
    .manager{
       margin-right: 15px;
    }
}

@media only screen and (max-width: 992px){
    .manager:nth-child(1){
        margin-left: 150px;

    }
    .manager:nth-child(2){
        float: right;
        margin-right: 150px;
    }
    .manager:nth-child(3){
        margin-top: 15px;
        margin-left: 310px;
    }
    .manager:after{
        content:"" ;
        clear:both;
        display: block;
    }
}
*@media only screen and (min-width: 667px) and (max-width: 767px) {

   .manager{
       margin-right: 100px;

      margin-left: 150px;

   }

    .manager:after{
        content:"" ;
        clear:both;
        display: block;
    }
}*/


@media only screen and (max-width: 1024px) {
    .manager{
        margin-right: 15px;
    }
}
@media only screen and (max-width: 992px) and (min-width: 375px){
    .container{
        max-width: 400px;

    }
    .manager{
        padding-bottom: 15px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px){

   .container{
       max-width: 300px;
       padding-right: 15px;
   }
    .manager{
        padding-bottom: 20px;


    }
    .info{
        margin-top: 15px;
        width: 100%;

    }
    .social_icons
    {
        margin-top: 15px;
        width: 100%;
    }
    .manager:nth-child(3) {
       margin-right: 15px;
    }

}