@font-face {
    font-family: '11849';
    src: url('../fonts/11849.eot');
    src: url('../fonts/11849.eot') format('embedded-opentype'),
    url('../fonts/11849.woff2') format('woff2'),
    url('../fonts/11849.woff') format('woff'),
    url('../fonts/11849.ttf') format('truetype'),
    url('../fonts/11849.svg#11849') format('svg');
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
    url('../fonts/OpenSansLight.woff2') format('woff2'),
    url('../fonts/OpenSansLight.woff') format('woff'),
    url('../fonts/OpenSansLight.ttf') format('truetype'),
    url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

* {
   margin: 0;
    padding: 0
}
body{
    padding-top: 50px;
    padding-left: 50px;
}

.container {
    max-width: 1120px;
    margin: auto;
}

.manager {
    max-width: 310px;
    margin-right: 88px;
    float: left;
}
.manager:nth-child(3){
    margin-right: 0;
}
.manager:after{
    content:"" ;
    clear:both;
    display: block;
}
.photo img {
    width: 100%;

}

.info {
    padding-left: 11px;
    float: left;
    margin-top: 33px;
    max-width: 180px;
}

.info h3 {
    font-family: '11849';
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #232323;
    text-transform: uppercase;

}

.info p {
    font-family: 'OpenSansLight';
    margin: 0;
    font-size: 14px;
    color: #b5a263;
   
}

/*****************************/
.social_icons {
    margin-top: 33px;
    padding-top: 3px;
    float: right;
    text-align: center;
}

.social_icons a {

    margin-right: 8px;
    padding: 0;
    width: 36px;
    display: inline-block;
    background-color: #dedede;
    border-radius: 20px;
}

.social_icons a i {
    font-size: 16px;
    color: white;
    line-height: 36px;
}